<!-- La Barra de menu -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons"></i>Gestión de Inventario</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">search</i></a></li>
        </ul>
    </div>
</nav>


<!-- El cuerpo del inventario donde se encuentra formulario y listado -->
<div class="">
    <app-inventarios></app-inventarios>
</div>


<!-- Pie de página (Footer) -->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Gestión de Inventario de eCommerceSite</h5>
                <p class="grey-text text-lighten-4">eCommerceSite - Dirección General
                    Anserma, Caldas. , Colombia
                    Conmutador Nacional (57 ) 314 856 8801 - Extensiones
                    Atención presencial: lunes a viernes 8:00 a.m. a 5:30 p.m.
                    Resto del país sedes y horarios
                    Atención telefónica: lunes a viernes 7:00 a.m. a 7:00 p.m. -
                    sábados 8:00 a.m. a 1:00 p.m.
                    Atención al ciudadano: Anserma (57 ) 314 856 8801
                    PQRS
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                            href="https://xn--johnandersonlondoo-30b.site/index.html">John Anderson Londoño</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Design John Anderson Londoño Heredia
            <a class="grey-text text-lighten-4 right" href="https://xn--johnandersonlondoo-30b.site/index.html">Más
                Info</a>
        </div>
    </div>
</footer>